body {
    font-family: "didot", "Georgia", serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 50pt;
    text-transform: uppercase;
    line-height: 55px;
}

h2 {
    font-size: 25pt;
    text-transform: uppercase;
    margin-top: -35px;
}

h3 {
    font-size: 20pt;
    text-transform: uppercase;
}

p {
    font-family: "Helvetica", sans-serif;
    font-size: 10pt;
    color: #787878;
    margin-top: -30px;
}

header p {
    /*    margin-top: -175px;*/
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: #000000;
}

header aside {
    padding-left: 25px;
}

.onefifth {
    width: 17%;
}

.fourfifths {
    width: 80%;
}

.column {
    float: left;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.center {
    margin: auto;
}

.fixedside {
    position: fixed;
    /*    background-color: #ffd1c9;*/
    /*    height: 100%;*/
    width: 250px;
}

.navmenu {
    margin-left: 5px;
}

#icon {
    width: 140px;
    margin-left: 30px;
}

.blogtitle {
    box-sizing: border-box;
    font-family: "didot", "Georgia", serif;
    color: #ffd1c9;
    margin-top: 85px;
    text-align: right;
    font-size: 110pt;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
}

.mainbody {
    margin-left: 300px;
    margin-bottom: 50px;
    width: 800px;
}

article p {
    margin-right: 200px;
    text-align: justify;
    line-height: 18px;
    letter-spacing: .4px;
}

#imagerow {
    margin-right: 200px;
    text-align: center;
}

article img {
    max-height: 500px;
    max-width: 100%;
}