@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Chathura|Julius+Sans+One|Lekton|Playfair+Display+SC');

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ====CSS START==== */

body {
    font-family: 'Lekton', sans-serif;
    /*background-image: url('images/bg.gif');*/
    background-attachment: fixed;
}

header {
    margin: 2% 0;
}

#headerbox {
    background-color: #d2cccc;
    width: 600px;
    max-width: 80%;
    margin-top: 50px;
    position: relative;
    margin: auto;
    margin-top: -200px;
    height: 180px;
    z-index: -1;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 5em;
    letter-spacing: -.01em;
    line-height: .9em;
    width: 50%;
    margin: auto;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: #000000;
    font-size: 4em;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.right {
    margin-left: auto;
}

section {
    margin: 6% 0;
}

article {
    margin-top: -30px;
    width: 600px;
    max-width: 80%;
    height: 200px;
    color: #fff;
}

article p {
    padding: 40px;
}

#orbit {
    text-align: right;
}

#moonbox {
    background-color: #5f3c5d;
    background: linear-gradient(to bottom right, #5f3c5d, #833677);
}

#orbitbox {
    background-color: #4b5669;
    background: linear-gradient(to bottom right, #4b5669, #416d77);
}

#earthbox {
    background-color: #2c1328;
    background: linear-gradient(to bottom right, #67284e, #733a6a);
}

.tip {
    position: absolute;
    opacity: 0;
}

#moonTip {
    right: 150px;
    top: 300px;
}

#orbitTip {
    left: 150px;
    top: 700px;
}

#earthTip {
    right: 150px;
    top: 1100px;
}

footer {
    text-align: center;
    padding: 15px;
}
